<% layout('layout') -%>

<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center"><%= title %></h1>
    </div>
</div>
<div class="row">
    <div id="list" class="center-block">
        <div class="col-lg-12">
            <form action="/create" method="post" accept-charset="utf-8">
                <div class="item-new">
                    <input class="input" type="text" name="content" autofocus/>
                </div>
            </form>
        </div>
        <% todos.forEach( function (todo){ %>
        <div class="item col-lg-12<%= todo.done ? ' item-done' : '' %>">
            <a class="" href="/edit/<%= todo._id %>" title="Edit"><%= todo.content %></a>
            <a class="icon" href="/delete/<%= todo._id %>" title="Delete"><img src="/images/delete.png"/></a>
            <% if(!todo.done){ %>
            <a class="icon" href="/done/<%= todo._id %>" title="Check">
                <img width="16px" height="16px" src="/images/check.png"/>
            </a>
            <% } %>
        </div>
        <% }); %>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-default pull-right" href="/export">Export List</a>
            </div>
        </div>
    </div>
</div>